html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #292d3e;
}

/* center items */
.center {
	display: grid;
	place-items: center;
}
